# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Telephasic by HTML5 UP
brand: Telephasic
email: azad.riyaad@gmail.com
description: > # this means to ignore newlines until "baseurl:"
 Telephasic is a responsive site template by HTML5 UP, designed <br> and built by AJ and released for free under the Creative Commons <br> Attribution 3.0 license. "Jekyllized" by @RiyaadAzad. Enjoy!
baseurl: "/html5up-telephasic-jekyll" # the subpath of your site, e.g. /blog
aboutme: We are an XYZ company dedicated to satisfying our customers.
url: "" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_handle: jekyllrb
# facebook_username: jekyllrb
# dribbble_username: jekyllrb
# instagram_username: jekyllrb
# youtube_channel: jekyllrb
# pinterest_username: jekyllrb
# github_username:  riyaadazad
# google_analytics:

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

kramdown:
    input: GFM
    auto_ids: true
    hard_wrap: false
    syntax-highlighter: rouge

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
