<!-- Header -->
<div id="header-wrapper">
    <div id="header" class="container">

        <!-- Nav and Logo -->
        {% include nav.html %}
        <!-- Hero -->
        <section id="hero" class="container">
            <header>
                <h2>{{ page.description }}</h2>
            </header>
            <p>{{ site.description }}</p>
            <ul class="actions">
                <li><a href="{{ baseurl }}{{ page.hero-cta-button-link }}" class=" button">{{ page.hero-cta-button-text }}</a></li>
            </ul>
        </section>
    </div>
</div>